<div class="panel panel-info">
	<div class="panel-heading"><h2>DOI <small>[ <%= @doi.name %> ]</small>
			<%= link_to 'Edit DOI', edit_doi_path(@doi), :class => 'btn btn-default' %></h2></div>
	<div class="panel-body">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Current URL</th>
					<th>Description</th>
					<th>Owner</th>
					<th>Created</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><%= @doi.name %></td>
					<td><%= @doi.urls.last.url %></td>
					<td><%= @doi.description %></td>
					<td><%= @doi.user.email %></td>
					<td><%= @doi.user.created_at %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading"><h2>URL History <small>[ <%= @doi.name %> ]</small></h2></div>
	<div class="panel-body">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>URL</th>
					<th>Updated</th>
				</tr>
			</thead>

			<tbody>
				<% @doi.urls.reverse!.each do |url| %>
					<tr>
						<td><%= url.url %></td>
						<td><%= url.created_at %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading"><h2>Reviews <small>[ <%= @doi.name %> ]</small></h2></div>
	<div class="panel-body">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Comment</th>
					<th>User</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% @doi.reviews.reverse!.each do |review| %>
					<tr>
						<td><%= review.comment %></td>
						<td><%= review.user.email %></td>
						<td><%= review.created_at %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<%= link_to 'Add Review', new_review_path(:doi_id => @doi.id, :user_id => current_user.id), :class => 'btn btn-default' %>
	</div>
</div>

<div class="col-lg-offset-2 col-lg-10">
	<p>
		<% if @doi.user.id == current_user.id %>
			<%= link_to 'Edit', edit_doi_path(@doi), :class => 'btn btn-default' %>
		<% end %>
	</p>
</div>
