<div class="panel panel-info">
	<div class="panel-heading"><h2>User DOIs <small>[ <%= current_user.email %> ]</small></h2></div>
	<div class="panel-body">
		<table class="table table-condensed table-striped">
  			<thead>
    				<tr>
      					<th>DOI</th>
      					<th>Current URL</th>
      					<th>Description</th>
      					<th></th>
      					<th></th>
      					<th></th>
    				</tr>
  			</thead>

  			<tbody>
    				<% @dois.reverse!.each do |doi| %>
      					<tr>
						<td><%= doi.name %></td>
						<td><%= link_to(doi.urls.last.url,doi.urls.last.url, url_options = {:confirm => 'You will be leaving DOI Server. Continue?'})  %></td>
        					<td><%= doi.description %></td>
						<td><%= link_to 'Update', edit_doi_path(doi), :class => 'btn btn-default btn-block' %></td>
        					<td><%= link_to 'View', doi, :class => 'btn btn-default btn-block' %></td>
        					<td><%= link_to 'Destroy', doi, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-block' %></td>
      					</tr>
    				<% end %>
  			</tbody>
		</table>
	</div>
		<div class="panel-footer">
			<%= link_to 'New Doi', new_doi_path(:user_id => current_user.id), :class => 'btn btn-default' %>
		</div>
	</div>
</div>

