<%= form_for(@review, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this doi from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="containter">
  <div class="col-md-12">

  <div class="input-group input-group-md">
	  <span class="input-group-addon"><%= f.label :comment %></span>
	  <%= f.text_field :comment, :class => 'form-control' %>
  </div>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :doi_id %>
  </div>
  <br>
  <div class="panel-footer">
  <div class="actions">
	  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
