<h1 class="text-center">Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="width:400px;margin:0 auto">
  <div class='well well-md'>
  <div class="input-group input-group-md">
	  <span class="input-group-addon"><%= f.label :email %></span>
	  <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
  </div><br>

  <div class="input-group input-group-md">
	  <span class="input-group-addon"><%= f.label :password %></span>
	  <%= f.password_field :password, :class => 'form-control' %>
  </div><br>

  <div class="input-group input-group-md">
	  <span class="input-group-addon"><%= f.label :password_confirmation %></span>
	  <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div><br>

  <div><%= f.submit "Sign up", :class => 'btn btn-primary' %></div>
<% end %>

</div>
</div>
